// Place all the styles related to the Frumweb controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: "Pacifico";
  src: url('./Pacifico/Pacifico.ttf') format('truetype');
}

@font-face {
  font-family: "Quicksand";
  src: url('./Quicksand/Quicksand.otf') format('truetype');
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: snow;
  font-family: 'Quicksand';
}


.content {
  margin-top: 30px;
}

.icon {
  width: 3rem;
  height: 3rem;
}

#whole-header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
  height: 20rem;
}

.middle {
  display: flex;
  flex-direction: column;
  height: 20rem;
  align-items: center;
  justify-content: center;
  p {
    font-family: 'Pacifico';
  }
}

#couple-name {
  font-family: 'Pacifico';
  font-size: 40px;
  color: #2a3439;
}

.circle:before {
  content: ' \25CF';
  font-size: 16px;
}

.exper-nav {
  display: flex;
  justify-content: space-around;
  color: snow;
  background-color: #2a3439;
  width: 100%;
  margin: 0;
  height: 2.8rem;
  .nav-p {
    padding-top: 8px;
    color: snow;
  }
    :hover {
      cursor: pointer;
      text-decoration: underline;
    }
}

.modal-p {
  padding-top: 8px;
  padding-left: 3rem;
  color: snow;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}



.navbar {
  height: 3.4rem;
}

#navigation-bar {
  z-index: 20;
}

.navbar-fixed-top {
  background-color: #2a3439;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
  margin-bottom: 20px;
}

.navbar-top {
  margin-bottom: 30px;
}

#the-couple {
  width: 80%;
  height: auto;
  margin: 40px auto;
  display: block;
}

#lorem {
  width: 60%;
  font-family: 'Quicksand';
  text-align: center;
  margin: 0 auto;
}

#destination-div {
  margin: 3rem auto 3rem auto;
  h3, h4 {
    font-family: 'Pacifico';
    text-align: center;
  }
}

#destination-pic {
  width: 80%;
  height: auto;
  margin: 10px auto;
  display: block;
}

#venue-pic {
  width: 60%;
  height: auto;
  margin: 10px auto;
  display: block;
}

#activities {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.activity {
  margin: 20px;
  h2, a {
    margin-top: 20px auto;
  }
}

#wedding-party {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.wedding-party{
  margin: 10px 10px;
}

#blaire-img {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.card {
  margin: 20px auto 20px auto;
}

.card-body {
  overflow: hidden;
}

.avatar {
  height: 7rem;
  width: 7rem;
  border-radius: 7rem;
}

.large-card {
  margin: 20px auto;
  width: 60%;
}

#carousel-div {
  min-width: 70%;
  margin-bottom: 10rem;
}

.carousel-inner {
  width: 50rem;
  height: 5;
  background-color: black;
  border-radius: 20px;
}

.carousel {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 20px auto;
  img {
    height: 30rem;
    width: 30rem;
  }
}

.around-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-image: none;
  color: rgba(122, 122, 122, .8);
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: snow;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: snow;
}

#my-footer {
  text-align: center;
  background-color: #2a3439;
  color: snow;
  margin-top: 10px;
}

.schedule-div {
  display: flex;
  flex-direction: column;
  img {
    width: 50%;
    height: auto;
  }
}


.pac {
  font-family: 'Quicksand';
  text-align: center;
  margin: 20px auto;
}

.title {
  font-family: 'Pacifico';
  text-align: center;
  margin-bottom: 60px;
}

.event {
  margin: 10px 0 10px 0;
}

.d-block {
  width: 90rem;
  height: 70rem;
  border: 20px solid black;
  border-radius: 20px;
}

.registry{
  margin: 5rem auto 5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.registry-link {
  text-align: center;
  margin-top: 1rem;
}

.registry-img {
  max-height: 14rem;
  max-width: 50%;
  margin: 0 auto;
}

.registry p {
  width: 50%;
  margin: 20px auto 0 auto;
  text-align: center;
}

.activity-category {
  width: 60%;

}

.category-card {
  width: 80%;
  margin: 20px auto;
  background-color: rgba(122, 122, 122, .3);
}

.activity {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px auto;
  img {
    max-width: 80%;
    margin: 0 auto;
  }
}

.category-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card h1 {
  text-align: center;
}

.arrow {
  width: 2rem;
  height: 2rem;
  margin: 10px;
  &:hover {
    cursor: pointer;
  }
}

.activity-blank {
  width: 2rem;
  height: 2rem;
}

.avatar {
  background-image: url('/static/avatar.JPG');
  background-size: cover;
}

#mahaffey, #bulldog {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

#zach {
  background-image: url('/static/zach.png');
  background-size: cover;
}

#blaire {
  background-image: url('/static/blaire2.png');
  background-size: cover;
}

#phil {
  background-image: url('/static/phil.jpg');
  background-size: cover;
}

#rob {
  background-image: url('/static/rob.jpg');
  background-size: cover;
}

#john {
  background-image: url('/static/john.jpg');
  background-size: cover;
}

#samantha {
  background-image: url('/static/samantha.png');
  background-size: cover;
}

#david {
  background-image: url('/static/david.jpg');
  background-size: cover;
}

.accomodation {
  margin: 1rem auto 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.accomodation-link {
  text-align: center;
  margin-top: 1rem;
}

.accomodation-img {
  max-height: 14rem;
  max-width: 50%;
  margin: 1rem auto;
}

.accomodation-item {
  margin: 1rem auto;
  text-align: center;
  max-width: 60%;
}


.couple-div {
  text-align: center;
  margin: 3rem auto 3rem auto;
}

.couple-item {
  margin: 3rem auto 3rem auto;
}

#the-couple {
  border-radius: 20px;
  width: 60%;
  height: auto;
}

.disappear {
  display: none;
}

.hamburger-nav {
  display: flex;
  height: 2.8rem;
  color: snow;
  background-color: #2a3439;
  width: 100%;
  align-items: center;
    :hover {
      cursor: pointer;
      text-decoration: underline;
    }
}

.modal-dialog {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #2a3439;
  color: snow;
  display: flex;
  padding: 0;
  margin: 0;
}

.modal-content {
  min-height: 99%;
  background-color: #2a3439;
}

.carousel-container {
  display: flex;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
}

.custom-carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 25% auto 25% auto;
  width: 50%;
  height: 3rem;
  align-items: center;
}

#image-container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-img {
  max-width: 100%;
  height: auto;
  padding-bottom: 10%;
  padding-top: 10%;
  margin: 0 auto 20px 0;
}

.side-arrow {
  font-size: 3rem;
  margin: 0 3rem;
  &:hover {
    cursor: pointer;
  }
}

.carousel-buttons {
  display: flex;
  justify-content: center;
}

#wedding-party {
  display: flex;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  .activity-title {
    font-size: 20px;
  }
  #wedding-party {
    display: flex;
    flex-direction: column;
  }
  #party-cards {
    display: flex;
    flex-direction: column;
  }
}


.couple-item {
  font-family: 'Quicksand';
}

.w3-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.w3-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.w3-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.w3-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.w3-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.w3-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.w3-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.w3-animate-input{transition:width 0.4s ease-in-out}.w3-animate-input:focus{width:100%!important}